<div class="nav-sec">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home" style="padding:0px;">
          <img src="../../../assets/MediumSquareLogo.png" alt="AaditLifeLogo" height="100px" > 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0  nav-links-styles">
            <li class="nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/working">How it Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonials" >Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pricing" >Pricing</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <a href="/demo" style="color:white; border-color: white; font-weight: 500;"  class="btn nav-btn btn-sm">CONTACT US</a>
          </form>
        </div>
        </nav>

</div>


<div class="section-1" style="padding-top: 5rem;">
  <h1 style="font-weight: bold; font-size: 3rem; color: #0B2135" >Chat with Aadit Life Expert</h1>
  <h6 style="width: 72%; padding-left: 25%; padding-top: 2.5rem; font-size: 1rem; color: #0B2135; font-weight: 500">Incorporate Aadit Life Program as part of your wellbeing today!  </h6>
  
</div>

<div class="section-2">
    <h3 align="center" style="font-weight: bolder">Ready to learn more?</h3>
    
    <div class="demo-form">
      <form (ngSubmit)="myForm.valid && onSubmit()" [formGroup]="myForm" >
        <div class="form-group">
          <input id="firstname" style="height: 3rem;" name="firstname" class="form-control" type="text" required minlength="4" formControlName="firstname" placeholder="FIRST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.firstname" >
            <div class="error-message" *ngIf="myForm.get('firstname').hasError(validation.type) && (myForm.get('firstname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="lastname" style="height: 3rem;" name="lastname" class="form-control" required type="text" formControlName="lastname" placeholder="LAST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.lastname" >
            <div class="error-message" *ngIf="myForm.get('lastname').hasError(validation.type) && (myForm.get('lastname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="email" style="height: 3rem;" name="email" class="form-control" required type="email" formControlName="email" placeholder="EMAIL ADDRESS"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
            <div class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="phonenumber" style="height: 3rem;" name="phonenumber" class="form-control" required type="tel" formControlName="phonenumber" placeholder="PHONE NUMBER"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phonenumber" >
            <div class="error-message" *ngIf="myForm.get('phonenumber').hasError(validation.type) && (myForm.get('phonenumber').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
            <textarea id="message" style="height: 6rem;" name="message" class="form-control" required type="tel" formControlName="message" placeholder="MESSAGE"></textarea>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.message" >
              <div class="error-message" *ngIf="myForm.get('message').hasError(validation.type) && (myForm.get('message').touched)">
                  {{ validation.message }}
              </div>
              </ng-container>
            </div>
          </div>
      


        <div class="form-group">
          <button style="color: white; height: 3rem; font-size: 1rem;" class=" demo-btn btn" [disabled]="myForm.pristine || myForm.invalid">CONTACT US</button>
        </div>
      </form>

    </div>
  </div>


