.section-1 {
    text-align: center;
}
.section-2{
    // display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    // padding-left: 30%;
    text-align: center;
    background-color: white;
}
.demo-form {
    padding-top: 3%;
    padding-right: 30%;
    padding-left: 30%;
    }
    .demo-btn {
        background-color: #FD525A;
        width: 90%;
    }
    .error-message {
        color: red;
    }