.section-1 {
    text-align: center;
}
.section-2{
    // display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    // padding-left: 30%;
    text-align: center;
    background-color: white;
}
.demo-form {
    padding-top: 3%;
    padding-right: 30%;
    padding-left: 30%;
    }
.demo-modal {
    padding: 3% 5%;
}
.modal-btn {
    display: flex;
    justify-content: center;
}

.md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}

.demo-btn {
    background-color: #FD525A;
    width: 90%;
    }
    
.error-message {
        color: red;
    }


    
.nav-demo {
        padding-left: 5rem;
    }
   
nav{
        background-color: #0B2135;
    }

.fixed-top {
        background: #0B2135;
        opacity: 0.8;
    
        @media only screen and (max-width: 1366px) {
            height: 32%;
        }
    }
    
    .nav-links-styles{
        margin-left:350px;
        @media screen and (max-width: 768px) {
            margin-left:0px;
        }
    }