<div class="nav-sec">
  <nav class="navbar  navbar-dark fixed-top">
      <a class="navbar-brand" href="/home">
          <img src="../../../assets/MediumSquareLogo.png" width="30" height="30" alt=""> 
      </a>
      <ul>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/working">How it Works</a>
      </li>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/testimonials" >Testimonials</a>
      </li>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/pricing">Pricing</a>
      </li>
      </ul>
      <div class="nav-demo">
        <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">CONTACT US</a>
      </div>
      
    </nav>
</div>

<div class="section-1">
  <p style="font-size: 3rem; width: 65%; padding-left: 30%; text-align: center; text-justify: auto; font-weight: 300">Plans and Pricing</p>
</div>

<div class="section-2">
  <div class="plans">
    <p style="font-size: 1.7rem; font-weight: 300; padding-bottom: 2%;">Individual Coaching</p>
    <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>&#x20b9;</sup>15000</p>
    <p style="font-weight: 500; line-height: 0%">One time payment for 6 months Program</p>
    <!--<p style="color: gray; font-size: 0.7rem; padding-left: 20%; line-height: 0%; padding-bottom: 25%;">PER LOCATION</p> -->
    <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;"  class="btn nav-btn btn-lg">CONTACT US</a>
  </div>

  <div class="divider"></div>

  <div class="plans">
    <p style="font-size: 1.7rem; font-weight: 300; padding-bottom: 2%;">Corporate Group Coaching</p>
    <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>&#x20b9;</sup>6000<sub>/employee</sub></p>
    <p style="font-weight: 500; line-height: 0%">6 months program for minimum group size of 100</p>
    
    <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;"  class="btn nav-btn btn-lg">CONTACT US</a>
  </div>

</div>
<!--
<div class="section-3">
  <p style="font-size: 1.1rem;">Sales tax may apply for corporates</p>
  <a href="/pricing" style="color:#FD4F57; border-color: white; font-weight: 500; font-size: 0.9em; background-color: white;"  class="btn nav-btn btn-lg">SEE CAD PRICING HERE</a>
</div> 

  <p style="font-size: 2rem; font-weight: 300; text-align: center; padding-top: 5%;">Premium Add-Ons</p>
<div class="section-4" >
    <div class="sec4-flex" >
      <p style="font-size: 1.5rem">ChowNow Discover</p>
      <p style="font-size: 1.1rem; word-wrap: break-word">Attract new customers by featuring your restaurant in the top-rated ChowNow app and website. Never pay for repeat orders again. Get in touch for details.</p>
      <a style="color:#FD4F57; font-weight: 500; font-size: 0.8rem;" class="btn btn-link" href="/pricing">GET DETAILS</a>
    </div>

    <div class="divider"></div>

    <div class="sec4-flex">
      <p style="font-size: 1.5rem">Branded Mobile Apps</p>
      <p style="font-size: 1.1rem; ">Keep up with the competition with custom-built iPhone and Android apps that are branded to your business. Get in touch for details.</p>
      <a style="color:#FD4F57; font-weight: 500; font-size: 0.8rem;" class="btn btn-link" href="/pricing">GET DETAILS</a>
    </div>
</div>


<div class="section-5">
  <p>CREDIT CARD PROCESSING FEES</p>
  <p>VISA, MASTERCARD, DISCOVER: 10 CENTS + 2.8% PER TRANSACTION • AMERICAN EXPRESS: 15 CENTS + 3.5% PER TRANSACTION</p>
</div>

<div class="section-6">
  <p style="font-size: 2rem; font-weight: 300; padding-bottom: 2%;">What You Get With ChowNow Direct</p>
  <div class="sec6-flex">
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-unlimited-orders.svg">
      <p style="padding-bottom: 2%;  width: 50%; font-size: 0.8rem; font-weight: 500">UNLIMITED COMMISSION-FREE ORDERS</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-website-ordering.svg">
      <p style="padding-bottom: 2%; width: 40%; font-size: 0.8rem; font-weight: 500">WEBSITE ORDERING</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-social-ordering.svg">
      <p style="padding-bottom: 2%; width: 40%; font-size: 0.8rem; font-weight: 500">SOCIAL ORDERING</p>
    </div>
  </div>

  <div class="sec6-flex">
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/features-management-tools.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">MANAGEMENT TOOLS</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-menu-upload.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">MENU UPLOAD</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-chownow-tablet.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">1 WI-FI ENABLED CHOWNOW TABLET</p>
    </div>
  </div>

  <div class="sec6-flex">
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-chownow-dashboard.svg">
      <p style="padding-bottom: 2%;  width: 45%; font-size: 0.8rem; font-weight: 500">UNLIMITED CHOWNOW DASHBOARD ACCESS</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-marketing-launch-package.svg">
      <p style="padding-bottom: 2%;  width: 45%; font-size: 0.8rem; font-weight: 500">1 CHOWNOW MARKETING LAUNCH PACKAGE</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/dedicated-onboarding.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">DEDICATED ACCOUNT ONBOARDING</p>
    </div>
  </div>

  <div class="sec6-flex">
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-one-on-one-training.svg">
      <p style="padding-bottom: 2%; width: 40%; font-size: 0.8rem; font-weight: 500">COMPREHENSIVE TRAINING MATERIALS</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-marketing-services.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">ONGOING MARKETING STRATEGY</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../assets/icon/pricing-customer-support.svg">
      <p style="padding-bottom: 2%;  width: 40%; font-size: 0.8rem; font-weight: 500">24/7 SUPPORT</p>
    </div>
  </div>
</div>


<div class="section-7">
  <p style="font-size: 2rem; font-weight: 300">Add-Ons</p>
  <div class="sec7-flex">
      <div class="col" style="padding-right: 10%;">
          <h6 style="font-size: 2rem; font-weight: 400">Wireless Data Connection</h6>
          <p>No Wi-Fi? Lease an LTE-enabled ChowNow Tablet.</p>
        </div>
        <div class="col">
          <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>$</sup>20<sub>/mo</sub></p>
        </div>
  </div>

  <div class="divider"></div>

  <div class="sec7-flex">
      <div class="col" style="padding-right: 10%;">
          <h6 style="font-size: 2rem; font-weight: 400">Restaurant Website</h6>
          <p>Need a website? We can help.</p>
        </div>
        <div class="col">
          <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>$</sup>14<sub>/mo</sub></p>
        </div>
  </div>

  <div class="divider"></div>

  <div class="sec7-flex">
      <div class="col" style="padding-right: 10%;">
          <h6 style="font-size: 2rem; font-weight: 400">Wireless Receipt Printer</h6>
          <p>Need a printer? Lease a SM-T300I.</p>
        </div>
        <div class="col">
          <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>$</sup>29<sub>/mo</sub></p>
        </div>
  </div>
</div>
-->
<div class="section-8">
    <h3 align="center" style="font-weight: bolder">Ready to learn more?</h3>
    <h6 align="center">Request Information</h6>
    <div class="demo-form">
      <form (ngSubmit)="myForm.valid && onSubmit(myForm.value)" [formGroup]="myForm" >
        <div class="form-group">
          <input id="firstname" style="height: 3rem;" name="firstname" class="form-control" type="text" required minlength="4" formControlName="firstname" placeholder="FIRST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.firstname" >
            <div class="error-message" *ngIf="myForm.get('firstname').hasError(validation.type) && (myForm.get('firstname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="lastname" style="height: 3rem;" name="lastname" class="form-control" required type="text" formControlName="lastname" placeholder="LAST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.lastname" >
            <div class="error-message" *ngIf="myForm.get('lastname').hasError(validation.type) && (myForm.get('lastname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="email" style="height: 3rem;" name="email" class="form-control" required type="email" formControlName="email" placeholder="EMAIL ADDRESS"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
            <div class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="phonenumber" style="height: 3rem;" name="phonenumber" class="form-control" required type="tel" formControlName="phonenumber" placeholder="PHONE NUMBER"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phonenumber" >
            <div class="error-message" *ngIf="myForm.get('phonenumber').hasError(validation.type) && (myForm.get('phonenumber').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="zipcode" style="height: 3rem;" name="zipcode" class="form-control" required type="tel" pattern="[0-9]{6}" formControlName="zipcode" placeholder="ZIP CODE"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.zipcode" >
            <div class="error-message" *ngIf="myForm.get('zipcode').hasError(validation.type) && (myForm.get('zipcode').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <button style="color: white; height: 3rem; font-size: 1rem; font-weight: 500;" class=" demo-btn btn" [disabled]="myForm.pristine || myForm.invalid">SCHEDULE A MEETING NOW</button>
        </div>
      </form>
    </div>

</div>

