<div class="nav-sec">
   <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="/home">
          <img src="../../../assets/MediumSquareLogo.png" height="100" width="100" alt="AaditLifeLogo"> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
      <ul>
      <li class="nav-item">
              <a style="color: black; font-weight: 500" class="nav-link" href="../">Home</a>
          </li>
      <li class="nav-item">
          <a style="color: black; font-weight: 500;" class="nav-link" href="/working">How it Works</a>
      </li>
      <li class="nav-item">
          <a style="color: black; font-weight: 500;" class="nav-link" href="/testimonials" >Testimonials</a>
      </li>
      <li class="nav-item">
          <a style="color: black; font-weight: 500;" class="nav-link" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item ml-lg-5 ml-md-5">
            <a href="/demo" style="color:white; border-color: white; font-weight: 500;"   class="btn nav-btn btn-lg nav-link">CONTACT US</a>
      </li>
      </ul></div>
      <div class="nav-demo">
        <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">CONTACT US</a>
      </div>
      
    </nav>  -->
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                    <a class="navbar-brand" href="/home" style="padding:0px;">
                        <img src="../../../assets/MediumSquareLogo.png" alt="AaditLifeLogo" height="120%"> 
                    </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                </button>
                
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav nav-links-styles">
                  <li><a href="../">Home</a></li>
                  <li><a href="/working">How it Works</a></li> 
                  <li><a href="/testimonials" >Testimonials</a></li> 
                  <li class="active"><a href="/pricing">Pricing</a></li> 
                </ul>
                <ul class="nav navbar-nav navbar-right" style=" padding:10px">
                  <li> <a href="/demo" style="color:white; border-color: white; font-weight: 500;"  class="btn nav-btn btn-sm">CONTACT US</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
</div>

<div class="section-1 row">
  <p style="font-size:25px; text-align: center; font-weight: 500; padding-bottom: 5%; margin: auto auto; position: relative;">PLANS AND PRICING</p>
</div>
<div class="container-fluid">
<div class="section-2 row">
  <div class="plans column col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <p style="font-size: 1.7em; font-weight: 300; padding-bottom: 2%;">Individual Coaching</p>
    <p style="font-size: 2em; align-content: center; padding-bottom: 2%;"><sup style="font-size: 1em;">&#x20b9;</sup>15000</p>
    <p style="font-weight: 500; ">One time payment for 6 months Program</p>
    <!--<p style="color: gray; font-size: 0.7rem; padding-left: 20%; line-height: 0%; padding-bottom: 25%;">PER LOCATION</p> -->
    <a href="/demo" class="btn nav-btn btn-lg col-sm-6 col-xs-6" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;margin-bottom: 5%;"  >CONTACT US</a>
  </div>
  <div class="col-sm-2 seprator_class">
        <div class="sep">
           <div class="sep-text">
           </div>
        </div>
    </div>
  <!-- <div class="divider column col-lg-0 col-md-0 col-sm-0 col-xs-0"></div> -->

  <div class="plans column col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <p style="font-size: 1.7em;font-weight: 300; padding-bottom: 2%;">Corporate Group Coaching</p>
    <p style="font-size: 2em; align-content: center; padding-bottom: 2%;"><sup style="font-size: 1em;">&#x20b9;</sup>6000<sub style="font-size: 0.5em;">/employee</sub></p>
    <p style="font-weight: 500; ">6 months program for minimum group size of 100</p>
    
    <a href="/demo" class="btn nav-btn btn-lg col-sm-6 col-xs-6" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;margin-bottom: 5%;"  >CONTACT US</a>
  </div>
</div>
</div>


