<div class="nav-sec">
  <nav class="navbar  navbar-dark fixed-top">
      <a class="navbar-brand" href="/home">
          <img src="../../../assets/MediumSquareLogo.png" width="150" height="150" alt=""> 
      </a>
      <ul>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/working">How it Works</a>
      </li>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/testimonials" >Testimonials</a>
      </li>
      <li class="nav-item">
          <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/pricing">Pricing</a>
      </li>
      </ul>
      <div class="nav-demo">
        <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">CONTACT US</a>
      </div>
      
    </nav>
</div>

<div class="section-1">
  <p style="font-size: 3rem; text-align: center; font-weight: 300; padding-top: 5%; margin: auto auto; position: relative;">PLANS AND PRICING</p>
</div>

<div class="section-2">
  <div class="plans">
    <p style="font-size: 1.7rem; font-weight: 300; padding-bottom: 2%;">Individual Coaching</p>
    <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>&#x20b9;</sup>15000</p>
    <p style="font-weight: 500; ">One time payment for 6 months Program</p>
    <!--<p style="color: gray; font-size: 0.7rem; padding-left: 20%; line-height: 0%; padding-bottom: 25%;">PER LOCATION</p> -->
    <a href="/demo" class="btn nav-btn btn-lg" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;margin-bottom: 5%;"  >CONTACT US</a>
  </div>

  <div class="divider"></div>

  <div class="plans">
    <p style="font-size: 1.7rem; font-weight: 300; padding-bottom: 2%;">Corporate Group Coaching</p>
    <p style="font-size: 3rem; align-content: center; padding-bottom: 2%;"><sup>&#x20b9;</sup>6000<sub>/employee</sub></p>
    <p style="font-weight: 500; ">6 months program for minimum group size of 100</p>
    
    <a href="/demo" class="btn nav-btn btn-lg" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em; background-color: #FD4F57;margin-bottom: 5%;"  >CONTACT US</a>
  </div>

</div>


