<div class="nav-sec">
    <nav class="navbar  navbar-dark fixed-top">
        <a class="navbar-brand" href="/home">
            <img src="../../../assets/MediumSquareLogo.png" width="150" height="150" alt=""> 
        </a>
        <ul>
        <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/working">How it Works</a>
        </li>
        <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/testimonials" >Testimonials</a>
        </li>
        <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/pricing">Pricing</a>
        </li>
        </ul>
        <div class="nav-demo">
          <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">CONTACT US</a>
        </div>
        
      </nav>
  
      <div style="padding-top:13%;">
      <h1 style="color: #FFFFFF; text-align: center; font-size:4em;">How It Works</h1>
      </div>
  
    
  
    </div>


<div class="section-1">
  <button  style="color:grey; font-weight: 500; font-size: 0.9em;"  (click)="scroll('section-2')" class="btn btn-lg">PHYSICAL ACTIVITY</button>
  <button  style="color:grey; font-weight: 500; font-size: 0.9em;"  (click)="scroll('section-3')" class="btn btn-lg">DIET & NUTRITION</button>
  <button  style="color:grey; font-weight: 500; font-size: 0.9em;"  (click)="scroll('section-4')" class="btn btn-lg">STRESS MANAGEMENT</button>
  <button  style="color:grey; font-weight: 500; font-size: 0.9em;"  (click)="scroll('section-5')" class="btn btn-lg">REST & RECOVERY</button>

</div>

<div class="section-2" id="section-2">
  <div class="column" style="padding-left: 20%; padding-right: 10%;" >
    <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">Physical Activity</h5>
    <p style="text-align: justify; width: 24em;">Comprehensive wellness index measured</p>
    <p style="text-align: justify; width: 24em;">Cardiovascular profiling, fat %, muscle %, body age, visceral fat%, BMI, RM. Define targets based on ideal state for current age, gender
      </p>
    <p style="text-align: justify; width: 24em;">Customized workout plans generated based on heuristic algorithm. 
      Each worout is designed to focus on strenghening skeletal muscles, cardiovascular endurance, lactate threshold,neuromuscular power
      </p>
  </div>
  <div class ="column">
    <img src="../../assets/iphone-x@2x.png" width="220" height="450">
  </div>
</div>

<div class="section-3" id="section-3">
  <div class="column" style="padding-left: 20%; padding-right: 10%;" >
    <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">Website Ordering</h5>
    <p style="text-align: justify; width: 24em;">Give your customers the ability to order directly from your website, rather than routing them to a third party site that lists you among competitors (and takes a commission on all of your orders).</p>
    <p style="text-align: justify; width: 24em;">Discover the four steps to choosing the right online ordering partner.</p>
    <button style="color: white; background-color: #FD7077; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg ">GET THE GUIDE</button>
    <p style="padding-top: 5%;">DID YOU KNOW</p>
    <p style="text-align: justify; width: 24em;">Nearly 75% of customers visit a restaurant’s website before dining. Turn their visits into transactions with integrated online ordering.</p>
  </div>
  <div class ="column">
    <img src="../../assets/Desktop_New-min.png" width="500" height="450">
  </div>
</div>

<div class="section-4" id="section-4">
    <div class="column" style="padding-left: 20%; padding-right: 10%;" >
      <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">Social Ordering</h5>
      <p style="text-align: justify; width: 24em;">Turn your restaurant’s social followers into paying customers with online ordering for your Facebook page. The best part? This ordering channel is available with your ChowNow subscription — at no extra cost.</p>
      <p style="text-align: justify; width: 24em;">Maximize your social presence now with our free handbook.</p>
      <button style="color: white; background-color: #FD7077; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg ">GET THE GUIDE</button>
      <p style="padding-top: 5%;">DID YOU KNOW</p>
      <p style="text-align: justify; width: 24em;">Facebook is one of the most popular marketing channels for restaurants, and 49% of customers use it to find new places to eat.</p>
    </div>
    <div class ="column" style="padding-top: 3%">
      <img src="../../assets/Family-Portrait_Facebook_New.png" width="500" height="300">
    </div>
</div>

<div class="section-5" id="section-5">
    <div class="column" style="padding-left: 20%; padding-right: 10%;" >
      <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">ChowNow Tablet</h5>
      <p style="text-align: justify; width: 24em;">Streamline your operations with the easy-to-use ChowNow tablet that frees your staff from the phones and allows you to take an unlimited number of orders all at once.</p>
      <p style="text-align: justify; width: 24em;">Understand the six ways online food ordering systems dramatically improve restaurant efficiency by reading this eBook.</p>
      <button style="color: white; background-color: #FD7077; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg ">GET THE GUIDE</button>
      <p style="padding-top: 5%;">DID YOU KNOW</p>
      <p style="text-align: justify; width: 24em;">Orders come through your tablet in real time, prepaid. Say goodbye to missed or inaccurate orders.</p>
    </div>
    <div class ="column">
      <img src="../../assets/Tablet_New-min.png" width="200" height="400">
    </div>
</div>

<div class="section-6" id="section-6">
    <div class="column" style="padding-left: 20%; padding-right: 10%;" >
      <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">ChowNow Dashboard</h5>
      <p style="text-align: justify; width: 24em;">Take ownership of your to-go business with access to data from all of your orders, old and new. Pull reports, view top spenders, and customize your menu all from your own ChowNow management portal.</p>
      <p style="text-align: justify; width: 24em;">See how this valuable data helps you grow your customer base and your bottom line.</p>
      <button style="color: white; background-color: #FD7077; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg ">GET THE GUIDE</button>
      <p style="padding-top: 5%;">DID YOU KNOW</p>
      <p style="text-align: justify; width: 24em;">Your dashboard collects customer insights with every order placed and comes with re-marketing tools built in. That’s powerful stuff.</p>
    </div>
    <div class ="column">
      <img src="../../assets/Dashboard_@2x-min.png" width="500" height="400">
    </div>
</div>

<div class="section-7" id="section-7">
    <div class="column" style="padding-left: 20%; padding-right: 10%;" >
      <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">Marketing Services</h5>
      <p style="text-align: justify; width: 24em;">Drive more orders and more restaurant app downloads. Our dedicated success team provides support with custom marketing campaigns to boost customer engagement and increase sales.</p>
      <p style="text-align: justify; width: 24em;">Increase loyalty using their email marketing best practices and strategies.</p>
      <button style="color: white; background-color: #FD7077; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg ">GET THE GUIDE</button>
      <p style="padding-top: 5%;">DID YOU KNOW</p>
      <p style="text-align: justify; width: 24em;">Your dashboard collects customer insights with every order placed and comes with re-marketing tools built in. That’s powerful stuff.</p>
    </div>
    <div class ="column">
      <img src="../../assets/Marketing_New@2x-min.png" width="500" height="400">
    </div>
</div>


<div class="section-8">
    <h3 align="center" style="font-weight: bolder">Ready to learn more?</h3>
    <h6 align="center">Request a free product demo today.</h6>
    <div class="demo-form">
      <form (ngSubmit)="myForm.valid && onSubmit(myForm.value)" [formGroup]="myForm" >
        <div class="form-group">
          <input id="firstname" style="height: 3rem;" name="firstname" class="form-control" type="text" required minlength="4" formControlName="firstname" placeholder="FIRST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.firstname" >
            <div class="error-message" *ngIf="myForm.get('firstname').hasError(validation.type) && (myForm.get('firstname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="lastname" style="height: 3rem;" name="lastname" class="form-control" required type="text" formControlName="lastname" placeholder="LAST NAME"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.lastname" >
            <div class="error-message" *ngIf="myForm.get('lastname').hasError(validation.type) && (myForm.get('lastname').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="email" style="height: 3rem;" name="email" class="form-control" required type="email" formControlName="email" placeholder="EMAIL ADDRESS"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
            <div class="error-message" *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="phonenumber" style="height: 3rem;" name="phonenumber" class="form-control" required type="tel" formControlName="phonenumber" placeholder="PHONE NUMBER"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phonenumber" >
            <div class="error-message" *ngIf="myForm.get('phonenumber').hasError(validation.type) && (myForm.get('phonenumber').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <input id="zipcode" style="height: 3rem;" name="zipcode" class="form-control" required type="tel" pattern="[0-9]{6}" formControlName="zipcode" placeholder="ZIP CODE"/>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.zipcode" >
            <div class="error-message" *ngIf="myForm.get('zipcode').hasError(validation.type) && (myForm.get('zipcode').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
          </div>
        </div>


        <div class="form-group">
          <button style="color: white; height: 3rem; font-size: 1rem;" class=" demo-btn btn" [disabled]="myForm.pristine || myForm.invalid">SCHEDULE A DEMO NOW</button>
        </div>
      </form>
    </div>
  
</div>

<div class="section-9">
    <div class="sec9">
      <h5 style="color: #8C8C8F">Already a client, or need help with an order? Visit our</h5>
      <a style="color: red; padding-left: 1%; font-size: 1.2em; font-weight: bold" href="/" class=" btn-link  ">Support Center</a>
    </div>
  </div>