<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="">
    <nav class="navbar  navbar-dark fixed-top">
        <a class="navbar-brand" href="/home">
          <img src="../../../assets/MediumSquareLogo.png" width="150" height="150" alt="">
        </a>
        <ul style="padding-left:0 ">
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/working">How it Works</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/pricing">Pricing</a>
          </li>
        </ul>
        <div class="nav-demo">
          <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"
            class="btn nav-btn btn-lg">CONTACT</a>
        </div>
    
      </nav>

  <div style="padding-top:12%;">
    <h1 style="color: black; text-align: center; font-size:1em;">“Aadit Life program has helped employees 
    </h1>
    <h1 style="color: black; text-align: center; font-size:1em;"> reach the peak of fitness
      just </h1>
    <h1 style="color: black; text-align: center; font-size:1em;">and productivity”</h1>
  </div>

  <!--<div align="center">
    <button type="button" id="vid-btn1" name="wistia_embed"
      class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
    </button>
    <div id="vid-modal1" class="modal">
      <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
      <h4 style="color:white;">Homeroom</h4>
      <iframe src="//fast.wistia.net/embed/iframe/b9pkgfinfq"
        style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
        allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen
        mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
      <div align="center" style="padding-top: 2rem">
        <button style="color:white; border-color: white; font-size: 0.9em" type="button"
          class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
      </div>
    </div>
  </div>-->
 <!-- <h5 style="text-align: center; padding-top: 2%; font-weight: 400; color: whitesmoke;">Erin Wade, Co–owner
  </h5> 
  <div align="center">
    <img width="100" height="50" alt="" src="../../assets/testimonials-logo-homeroom-white.png">
  </div>-->
</div>

<div class="section-1">
  <p style="font-weight: 600;  padding-top: 3%; padding-bottom: 3%; color: black; font-size:2rem; text-align:center;">HEAR WHAT OUR CLIENTS
    ARE SAYING ABOUT US</p>
  <div class="sec1">
    <div class="sec1--blockquote" style="text-align:center">
      <!-- <a href="/demo" style="color:red; border-color: white; font-weight: 500; font-size: 0.9em;"
        class="btn nav-btn btn-lg">XOCO</a> -->
      <p><b>"A busy working professional’s journey to a healthier lifestyle – the story of Anju Jayprakash"</b></p>
      <section style="color: black; font-weight: 300;">
        <br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
        I found myself feeling tired more often. I was
        looking for guidance on the best way to work out and lead a healthier lifestyle.

        <br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
        the
        program
        with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.

        <br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
        start
        and
        gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
        schedule;
        between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
        projects.

        <br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
        and
        can run
        longer and faster than I ever have. There was also an overall spike in my energy levels.

        <br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
        apart fromgit chec
        just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.

        <br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
        difficulty) and a
        base camp trek.

      </section>
    </div>

    <div class="test1">
        <img src="../../../assets/Anju.jpg" class="customerImage" >
        
      <div style="text-align:center">
        <!-- <button type="button" id="vid-btn2" name="wistia_embed"
          class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
        </button> -->
        <div id="vid-modal2" class="modal">
          <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
          <iframe src="//fast.wistia.net/embed/iframe/j38ihh83m5" popup="true" allowtransparency="true" frameborder="0"
            scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen
            webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
          <div style="text-align:center" style="padding-top: 2rem">
            <button style="color:white; border-color: white; font-size: 0.9em" type="button"
              class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec1">
    <div align="center" class="sec1--blockquote">
      <p><b>"A busy working professional’s journey to a healthier lifestyle – the story of Anju Jayprakash"</b></p>
      <section style="color: black; font-weight: 300;">
        <br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
        I found myself feeling tired more often. I was
        looking for guidance on the best way to work out and lead a healthier lifestyle.

        <br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
        the
        program
        with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.

        <br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
        start
        and
        gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
        schedule;
        between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
        projects.

        <br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
        and
        can run
        longer and faster than I ever have. There was also an overall spike in my energy levels.

        <br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
        apart from
        just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.

        <br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
        difficulty) and a
        base camp trek.

      </section>
    </div>

    <div class="test1">
        <img src="../../../assets/Ashok.jpg" class="customerImage" >
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>

<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
      <p><b>"A busy working professional’s journey to a healthier lifestyle – the story of Anju Jayprakash"</b></p>
      <section style="color: black; font-weight: 300;">
        <br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
        I found myself feeling tired more often. I was
        looking for guidance on the best way to work out and lead a healthier lifestyle.

        <br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
        the
        program
        with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.

        <br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
        start
        and
        gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
        schedule;
        between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
        projects.

        <br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
        and
        can run
        longer and faster than I ever have. There was also an overall spike in my energy levels.

        <br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
        apart from
        just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.

        <br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
        difficulty) and a
        base camp trek.

      </section>
    </div>

    <div class="test1">
        <img src="../../../assets/Rathish.jpg" class="customerImage"> 
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>



<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
      <p><b>"A busy working professional’s journey to a healthier lifestyle – the story of Anju Jayprakash"</b></p>
      <section style="color: black; font-weight: 300;">
        <br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
        I found myself feeling tired more often. I was
        looking for guidance on the best way to work out and lead a healthier lifestyle.

        <br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
        the
        program
        with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.

        <br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
        start
        and
        gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
        schedule;
        between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
        projects.

        <br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
        and
        can run
        longer and faster than I ever have. There was also an overall spike in my energy levels.

        <br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
        apart from
        just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.

        <br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
        difficulty) and a
        base camp trek.

      </section>
    </div>

    <div class="test1">
        <img src="../../../assets/Mrudula.jpeg" class="customerImage">
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>


<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
      <p><b>"A busy working professional’s journey to a healthier lifestyle – the story of Anju Jayprakash"</b></p>
      <section style="color: black; font-weight: 300;">
        <br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
        I found myself feeling tired more often. I was
        looking for guidance on the best way to work out and lead a healthier lifestyle.

        <br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
        the
        program
        with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.

        <br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
        start
        and
        gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
        schedule;
        between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
        projects.

        <br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
        and
        can run
        longer and faster than I ever have. There was also an overall spike in my energy levels.

        <br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
        apart from
        just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.

        <br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
        difficulty) and a
        base camp trek.

      </section>
    </div>

    <div class="test1">
        <img src="../../../assets/sk.jpg" class="customerImage">
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>