<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="">
    <nav class="navbar  navbar-dark fixed-top">
        <a class="navbar-brand" href="/home">
          <img src="../../../assets/MediumSquareLogo.png" width="150" height="150" alt="">
        </a>
        <ul style="padding-left:0 ">
          <li class="nav-item">
                <a style="color: white; font-weight: 500" class="btn btn-link" href="../">Home</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/working">How it Works</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a style="color: white; font-weight: 500" class="btn btn-link" href="/pricing">Pricing</a>
          </li>
        </ul>
        <div class="nav-demo">
          <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"
            class="btn nav-btn btn-lg">CONTACT</a>
        </div>
    
      </nav>

  <div style="padding-top:12%;">
    <h1 style="color: black; text-align: center; font-size:1em;">Real World Success Stories Define What We Do  
    </h1>
   
  </div>

  <!--<div align="center">
    <button type="button" id="vid-btn1" name="wistia_embed"
      class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
    </button>
    <div id="vid-modal1" class="modal">
      <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
      <h4 style="color:white;">Homeroom</h4>
      <iframe src="//fast.wistia.net/embed/iframe/b9pkgfinfq"
        style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
        allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen
        mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
      <div align="center" style="padding-top: 2rem">
        <button style="color:white; border-color: white; font-size: 0.9em" type="button"
          class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
      </div>
    </div>
  </div>-->
 <!-- <h5 style="text-align: center; padding-top: 2%; font-weight: 400; color: whitesmoke;">Erin Wade, Co–owner
  </h5> 
  <div align="center">
    <img width="100" height="50" alt="" src="../../assets/testimonials-logo-homeroom-white.png">
  </div>-->
</div>

<div class="section-1">
  <p style="font-weight: 600;  padding-top: 3%; padding-bottom: 3%; color: black; font-size:2rem; text-align:center;">HEAR WHAT OUR CLIENTS
    ARE SAYING ABOUT US</p>
  <div class="sec1">
      <div class="sec1--blockquote" style="text-align:center">
          <!-- <a href="/demo" style="color:red; border-color: white; font-weight: 500; font-size: 0.9em;"
            class="btn nav-btn btn-lg">XOCO</a> -->
          <p><b>"A busy working professional’s journey to a healthier lifestyle" – Anju Jayprakash</b></p>
          <section style="color: black; font-weight: 300;">
            <br><br>When I took on fitness in 2016, I wasn’t sure how to begin. In general,
            I found myself feeling tired more often. I was
            looking for guidance on the best way to work out and lead a healthier lifestyle.
    
            <br><br>I attempted to set my own exercise schedules, but wasn’t able to follow them consistently. Before starting
            the
            program
            with Aadit Life, I wondered if this would be yet another attempt that would fizzle out later.
    
            <br><br>As someone who hasn’t had an organized workout plan in the past, I can say this was the best way for me to
            start
            and
            gain confidence. As structured as it was, the plan was also flexible enough to accommodate my ever-changing
            schedule;
            between work and having a school-going kid, I’m always caught up in late evenings, birthday parties, and
            projects.
    
            <br><br>Though the workouts demanded less of my time, I could see the results. I gained muscle mass, lost weight,
            and
            can run
            longer and faster than I ever have. There was also an overall spike in my energy levels.
    
            <br><br>Anand’s feedback system was my favourite part of the program. It monitors so many different impact measures
            apart fromgit chec
            just weight. This way, I’m able to adjust my workouts to run better and work on my muscle mass.
    
            <br><br>Thanks to my newfound energy and confidence, my new fitness goals include more hikes (with increasing
            difficulty) and a
            base camp trek.
    
          </section>
        </div>

    <div class="test1">
        <div class="container">
            <img src="../../../assets/Anju.jpg" class="customerImage image" >
            <div class="overlay">
              <div class="text">Anju Jayprakash</div>
            </div>
          </div>
        
        
      <div style="text-align:center">
        <!-- <button type="button" id="vid-btn2" name="wistia_embed"
          class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
        </button> -->
        <div id="vid-modal2" class="modal">
          <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
          <iframe src="//fast.wistia.net/embed/iframe/j38ihh83m5" popup="true" allowtransparency="true" frameborder="0"
            scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen
            webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
          <div style="text-align:center" style="padding-top: 2rem">
            <button style="color:white; border-color: white; font-size: 0.9em" type="button"
              class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec1">
      <div align="center" class="sec1--blockquote">
          <p><b>“I spent less time training than I used to and hit my personal best” – Ashok Vittal</b></p>
          <section style="color: black; font-weight: 300;">
            <br>While I was always a distance-runner, I noticed I wasn’t able to improve my speeds. I used to be able to run marathons in the past, but now I’d reached a plateau and my overall fitness levels dipped too.
    
            <br><br>As much as I wanted to turn this around, I wasn’t sure how Aadit Life could help. The program only demanded about 3-4 hours of running per week, and I was already putting in many more. What I didn’t realize is that I didn’t have the right mix of running and walking, and this was in the way of doing better. In the long run, my routine would have led to a burn-out.
            
            <br><br>Previously, I’ve participated in marathon training programs that were focused on helping me complete the run. With Aadit Life, it was about fine-tuning and gradually increasing the speeds. While I was now spending less time working out, the results were much more impressive. I lost almost half my body fat and even hit my personal best! It was a milestone I definitely wasn’t expecting to hit.
            
            <br><br>For me, it was Aadit Life’s focus on long-term wellness that helped the most. Anand didn’t ask me to make any dramatic changes to my diet or fitness routine. He also maintained a steady conversation through the week, which he followed up with regular monitoring of progress, and that made the program truly unique.
    
          </section>
        </div>
    

    <div class="test1">
        <div class="container">
            <img src="../../../assets/Ashok.jpg" class="customerImage image" >
            <div class="overlay">
              <div class="text">Ashok Vittal</div>
            </div>
          </div>
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>

<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
        <p><b>"How a sustained coaching relationship helped my overall wellness, sleep quality, and energy levels" – Rathish Chandran</b></p>
        <section style="color: black; font-weight: 300;">
          <br>Even before I heard of Aadit Life, I was considering making a change to my wellness levels. I’d gained weight and it was reflecting on my health – my sleep was regularly disrupted, and my sedentary lifestyle didn’t really help. I decided to give Aadit Life a try since the program was delivered to my workplace.
  
          <br><br>I’d tried previous programs but since they’d mostly give me standardized plans that didn’t take my health concerns into account, I wasn’t sure about yet another program. Aadit Life was a refreshing change, since Anand constantly stayed in touch with me and I could talk to him anytime, about anything. No matter what disruptions I faced – he’d help me get back on track and carry on with the routine.
          
          <br><br>Additionally, I found that the program was highly flexible, allowing me to keep up the routine even if I had to travel (sometimes to places without a gym). Aadit Life checked various other parameters apart from body weight – the program monitored my fat percentage, heart rate, and speed, among others.
          
          <br><br>When I started working out, I was walking for about half a kilometer. Within five months, I could run at almost four times the speed. I also noticed that my weight dropped to its ideal level and I was sleeping better. There was an overall boost to my energy levels; I started looking forward to my workouts!
          
          <br><br>Since Aadit Life made no dramatic changes to my diet either, I find that I’m still able to maintain my fitness levels. I hope to up the intensity of the program going forward.
  
        </section>
      </div>

    <div class="test1">
        <div class="container">
            <img src="../../../assets/Rathish.jpg" class="customerImage image" >
            <div class="overlay">
              <div class="text">Rathish Chandran</div>
            </div>
          </div>
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>



<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
        <p><b>"How a structured program helped me run longer" – the story of Mrudula</b></p>
        <section style="color: black; font-weight: 300;">
          <br>Before I started my program with Aadit Life three years ago, I was a regular gym-goer. While I enjoyed working out and lifting weights, there was no structure to my routine. I wanted to follow a plan and achieve specific goals.
  
          <br><br>I was a little apprehensive about the program since I wasn’t a runner to begin with. I’d walked on treadmill before but with little experience, I wasn’t sure I could do this program.
          
          <br><br>What I liked about the program was its holistic approach to wellness. From providing sustainable diet plans to structuring a program around my current fitness levels, I saw that there was a certain consistency that was missing from anything I’d done before.
          
          <br><br>With the help of the program, I managed to reach my goal of improved stamina. I was becoming better at sustaining my speeds and took longer to run out of breath.
          
          <br><br>Aadit Life is an analytical program that uses data to tell me exactly how I am improving and where I can do better. This has been very effective so far and with my newfound stamina, I’m working towards completing a 10k run in under 60 minutes.
  
        </section>
      </div>

    <div class="test1">
        <div class="container">
            <img src="../../../assets/Mrudula.jpeg" class="customerImage image" >
            <div class="overlay">
              <div class="text">Mrudula</div>
            </div>
          </div>
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>


<div class="sec1">
    <div style="text-align:center" class="sec1--blockquote">
        <p><b>"How a personalised wellness program gave my energy levels a boost" – Surendra Jain</b></p>
        <section style="color: black; font-weight: 300;">
          <br>As someone who was always on the active side, I was hesitant to take on fitness programs. I’ve always thought they take a cookie-cutter approach to wellness and set overtly ambitious goals, but decided to give Aadit Life a try, since Anand had introduced the program at my workplace.
  
          <br><br>Within a few months, I noticed a spike in my overall energy levels and a considerable difference in my running speeds. I was especially happy that I was constantly in touch with Anand, monitoring my progress using clear and objective parameters.  
          
          <br><br>I saw a quantifiable difference in the way I felt, my weight levels, and the amount I could run. Additionally, since it was tailored to suit my requirements, there was no chance of an injury from overexerting myself.
          
          <br><br>With the program helping me gradually improve my wellness levels, I plan to sustain the momentum I’ve now gained.   
  
        </section>
      </div>

    <div class="test1">
        <div class="container">
            <img src="../../../assets/sk.jpg" class="customerImage image" >
            <div class="overlay">
              <div class="text">Surendra Jain</div>
            </div>
          </div>
      <div id="vid-modal3" class="modal">
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn"
          style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true"
          allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
          allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700"
          height="366"></iframe>
        <div style="text-align:center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button"
            class="btn nav-btn btn-danger btn-lg">CONTACT US</button>
        </div>
      </div>
    </div>
  </div>