<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="nav-sec">
    <nav class="navbar  navbar-dark fixed-top">
        <a class="navbar-brand" href="/home">
            <img src="../../../assets/aaditlife5.jpeg" width="30" height="30" alt=""> Aadit Life
        </a>
        <ul>
        <li class="nav-item">
            <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/working">How it Works</a>
        </li>
        <li class="nav-item">
            <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/testimonials" >Testimonials</a>
        </li>
        <li class="nav-item">
            <a style="color: aliceblue; font-weight: 500;" class="btn btn-link" href="/pricing">Pricing</a>
        </li>
        </ul>
        <div class="nav-demo">
          <a href="/demo" style="color:white; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">CONTACT US</a>
        </div>

      </nav>
  
      <div style="padding-top:8%;">
      <h1 style="color: #FFFFFF; text-align: center; font-size:2em;">“Our takeout just went through the roof because we </h1>
      <h1 style="color: white; text-align: center; font-size:2em;"> could be taking five orders at one time, instead of just </h1>
      <h1 style="color: white; text-align: center; font-size:2em;">one order at a time.”</h1>
      </div>
  
      <div align="center">
          <button type="button" id="vid-btn1" name="wistia_embed" class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
          </button>
          <div id="vid-modal1" class="modal">  
            <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
            <h4 style="color:white;">Homeroom</h4>
            <iframe src="//fast.wistia.net/embed/iframe/b9pkgfinfq" style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
            <div align="center" style="padding-top: 2rem">
              <button style="color:white; border-color: white; font-size: 0.9em" type="button" class="btn nav-btn btn-danger btn-lg">CONTACT US</button>  
            </div>
          </div>
      </div>
        <h5 style="text-align: center; padding-top: 2%; font-weight: 400; color: whitesmoke;">Erin Wade, Co–owner
          </h5>
        <div align="center">
        <img width="100" height="50" alt="" src="../../assets/testimonials-logo-homeroom-white.png">
        </div>
</div>

<div class="section-1">
    <p align="center" style="font-weight: 600;  padding-top: 3%; padding-bottom: 3%; color: black;">HEAR WHAT RESTAURANTS ARE SAYING ABOUT US</p>
  <div class="sec1">
    <div align="center" style="padding-left: 20%; padding-right: 5%; padding-top: 2%">
      <a href="/demo" style="color:red; border-color: white; font-weight: 500; font-size: 0.9em;"  class="btn nav-btn btn-lg">XOCO</a>
      <p>“ChowNow creates a dialogue between our restaurant and the guest.”</p>
      <p style="color: black; font-weight: 600;">Arthur Mullen, Manager</p>
    </div>

    <div class="test1">
        <div align="center">
            <button type="button" id="vid-btn2" name="wistia_embed" class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
            </button>
            <div id="vid-modal2" class="modal">  
              <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
              <h4 style="color:white;">XOCO</h4>
              <iframe src="//fast.wistia.net/embed/iframe/j38ihh83m5" style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
              <div align="center" style="padding-top: 2rem">
                <button style="color:white; border-color: white; font-size: 0.9em" type="button" class="btn nav-btn btn-danger btn-lg">CONTACT US</button>  
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="sec1">
    <div align="center" style="padding-top: 2%; padding-left: 20%; padding-right: 5%;">
      <a href="/demo" style="color:red; font-weight: 500; border-color: white;  font-size: 0.9em;"  class="btn nav-btn btn-lg">Coral Tree Cafe</a>
      <p>“ChowNow creates a dialogue between our restaurant and the guest.”</p>
      <p style="color: black; font-weight: 600;">Amber Jamal, Marketing & PR Manager</p>
    </div>

    <div class="test1">
      <button type="button" id="vid-btn3" name="wistia_embed" class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
      </button>
      <div id="vid-modal3" class="modal">  
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <h4 style="color:white;">Coral Tree Cafe</h4>
        <iframe src="//fast.wistia.net/embed/iframe/avk9twrrbn" style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
        <div align="center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button" class="btn nav-btn btn-danger btn-lg">CONTACT US</button>  
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-2">
  <div class = "sec2-flex1">
    <div class="col">
      <h6 style="padding-bottom: 2%;">Malibu Fish Grill</h6>
      <p>“The training on ChowNow is so simple, it’s so easy to use. And from the customer’s standpoint it’s very intuitive.”</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-malibu-fish-grill.png">
    </div>
    <div class="col">
      <h6 style="padding-bottom: 2%;">The American Grilled Cheese Kitchen</h6>
      <p>“We’re a really busy restaurant, and ChowNow gives our customers a really easy way to order, pay, and pick up their food so they can beat the line and beat that lunch rush.”</p>
      <p style="color: black; font-weight: 400;">Nate Pollak, Co–founder</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-american-grilled-cheese.png">
    </div>
    <div class="col">
      <h6 style="padding-bottom: 2%;">Tasty Burger</h6>
      <p>“We’ve increased our sales from 20–25% since we’ve implemented ChowNow and would never look back.”</p>
      <p style="color: black; font-weight: 400;">Brian Reyelt, Co–owner</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-tasty-burger.png">
    </div>
  </div>

  <div class = "sec2-flex2">
    <div class="col">
      <h6 style="padding-bottom: 2%;">Peacefood Cafe</h6>
      <p>“It really streamlines our delivery and pickup service. Regular customers have been ordering more often and their orders have been larger.”</p>
      <p style="color: black; font-weight: 400;">Jeff LaPadula, Manager</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-peacefood-cafe.png">
    </div>
    <div class="col">
      <h6 style="padding-bottom: 2%;">Smoke Daddy</h6>
      <p>“We use the ChowNow Dashboard whenever there’s menu changes, time changes due to holidays, or whenever we’re running a new promotion.”</p>
      <p style="color: black; font-weight: 400;">Tai Pett, Catering Director</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-smoke-daddy.png">
    </div>
    <div class="col">
      <h6 style="padding-bottom: 2%;">Moochie’s Meatballs and More</h6>
      <p>“With ChowNow it’s quicker with the customer, the customer is more ensured of getting exactly what they ordered, and I’m all for the efficiency.”</p>
      <p style="color: black; font-weight: 400;">Don MacDonald, Co–owner</p>
      <img style="width: 30%; height: 20%;" src="../../assets/testimonials-logo-moochies.png">
    </div>
  </div>
</div>


<div class="section-3">
  <div class="column" style="padding-top:5%; padding-left: 20%; padding-right: 10% ">
    <h5 style=" width: 14em; font-size: 1.7em; font-weight: bold; ">Emporium Thai Cuisine </h5>
    <p style="text-align: justify; width: 24em;">“Life before ChowNow was very chaotic — we got a lot of phone calls, a lot of mistyped orders. So with ChowNow, the ability to see the order directly from the customer makes it so streamlined.”</p>
    <p style="color: black; font-weight: 600;">John Sungkamee, Owner</p>
  </div>
    <div class="test1">
      <button type="button" id="vid-btn4" name="wistia_embed" class="wistia_embed btn  btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
      </button>
      <div id="vid-modal4" class="modal">  
        <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
        <h4 style="color:white;">Emporium Thai Cuisine</h4>
        <iframe src="//fast.wistia.net/embed/iframe/pukozq6xf0" style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
        <div align="center" style="padding-top: 2rem">
          <button style="color:white; border-color: white; font-size: 0.9em" type="button" class="btn nav-btn btn-danger btn-lg">CONTACT US</button>  
        </div>
      </div>
    </div> 
</div>

<div class="section-4">
  <div class="sec4">
    <h5 style="color: #8C8C8F">Already a client, or need help with an order? Visit our</h5>
    <a style="color: red; padding-left: 1%; font-size: 1.2em; font-weight: bold" href="/" class=" btn-link ">Support Center</a>
   </div>
</div>
