<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="nav-sec">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
                <a class="navbar-brand" href="/home" style="padding:0px;">
                    <img src="../../../assets/MediumSquareLogo.png" alt="AaditLifeLogo" height="120%"> 
                </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
            </button>
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav nav-links-styles">
              <li class="active"><a href="../">Home</a></li>
              <li><a href="/working">How it Works</a></li> 
              <li><a href="/testimonials" >Testimonials</a></li> 
              <li><a href="/pricing">Pricing</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right" style=" padding:10px">
              <li> <a href="/demo" style="color:white; border-color: white; font-weight: 500;"  class="btn nav-btn btn-sm">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  <div style="padding-top:20%;">
    <h1 style="color: #FFFFFF; text-align: center; ">High Impact Lifestyle Coaching </h1>
    <!--<h1 style="color: white; text-align: center; font-size:4em;">Aaditlife's High Impact Lifestyle Coaching</h1> -->
    <h1 style="color: white; text-align: center; "> Simplicity and Consistentency Makes Dramatic
      Difference</h1>
    <!-- <h1 style="color: white; text-align: center; font-size:4em;">restaurant.</h1>  -->
  </div>

  <!--<div style="padding-top:2%;">
     <h5 style="color: aliceblue; text-align: center;">Set meaningful wellness goals</h5> 
    <h5 style="color: aliceblue; text-align: center;font-size:2em;">Aadit Life coaching has been empowering individuals to achieve the peak of fitness and wellbeing since 2014 </h5>
    </div> -->

  <!--  <div align="center" style="padding-top:2%;">
        <a href="/demo" style="color:red; border-color: white; font-weight: 500;  font-size: 0.9em;"  class="btn nav-btn btn-light btn-lg">CONTACT US</a>
    </div> -->
</div>
<div class="container">

<div class="section-1 row">
  <div class="column col-lg-4 col-md-4 col-sm-12 col-xs-12" style="position: relative; margin: auto auto;">
    <h5 style=" font-size: 1.7em; font-weight: bold; ">Aadit Life coaching has been empowering individuals
      to achieve their peak of fitness and wellbeing since 2015</h5>
    <p style="text-align: justify; ">Transformed 1500+ individuals setup and achieve meaningful wellness
      goals</p>
    <button style="color: red; font-size: 0.9em; font-weight: 500;" type="button" class="btn btn-link btn-lg " onclick="location.href ='../working'">SEE HOW
      IT WORKS</button>
  </div>
  <div class="column  col-lg-8 col-md-8 col-sm-12 col-xs-12" style="position: relative; margin: auto auto;">
    <img src="../../../assets/page1.gif" class="img-responsive">
      <!-- <video width="900" height="500" style="box-shadow: 10px 10px 5px #ccc;-moz-box-shadow: 10px 10px 5px #ccc;-webkit-box-shadow: 10px 10px 5px #ccc;-khtml-box-shadow: 10px 10px 5px #ccc;" autoplay muted playsinline loop>
          <source src="../../../assets/page1.mp4" type="video/mp4">
        </video> -->
   
  </div>
</div>


<div class="section-2 row">
  
  <div class="sec2-col column  col-lg-4 col-md-4 col-sm-12 col-xs-12" style="position: relative; margin: auto auto;">
    <h5 style=" font-size: 1.7em; font-weight: bold;">Designed, Managed and Executed Corporate Wellness
      Programs That Actually Works </h5>
    <p style="text-align: justify; ">Intel Technology, Juniper Networks , ARM Embedded Technologies are few
      of the corporate partners</p>
   
  </div>
  <div class="sec2-col col-lg-8 col-md-8 col-sm-12 col-xs-12" style="position: relative; margin: auto auto;">
      <img src="../../../assets/corporate.gif" class="img-responsive" >
      <!-- <video width="900" height="500" style="box-shadow: 10px 10px 5px #ccc;-moz-box-shadow: 10px 10px 5px #ccc;-webkit-box-shadow: 10px 10px 5px #ccc;-khtml-box-shadow: 10px 10px 5px #ccc;" autoplay muted playsinline loop>
          <source src="../../../assets/corporate.mp4" type="video/mp4">
        </video> -->
  </div>
</div>


<div class="section-3">
  <!--<h6 style="text-align: center">WHAT YOU GET WITH CHOWNOW</h6>
  <div class = "sec3-flex1">
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../../assets/features-website.svg">
      <h6 style="padding-bottom: 2%;">WEBSITE ORDERING</h6>
      <p>Give hungry customers the ability to order directly from your restaurant’s website — on desktop or mobile.</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../../assets/features-social-ordering-1.svg">
      <h6 style="padding-bottom: 2%;">SOCIAL ORDERING</h6>
      <p>Turn social visits into transactions with ChowNow ordering on your Facebook page.</p>
    </div>
    <div class="col">
      <img style="padding-bottom: 6%;" src="../../../assets/features-management-tools-2.svg">
      <h6 style="padding-bottom: 2%;">MANAGEMENT TOOLS</h6>
      <p>Accept orders and set ready times through your Tablet. Use your Dashboard to update your menu on the fly.</p>
    </div>
  </div>-->

  <div class="sec3-flex2 row ">
    <div class=" column col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img style="padding-bottom: 6%;" src="../../../assets/features-customer-insights-1.svg">
      <h6 style="padding-bottom: 2%;">MEASURABLE SUCCESS</h6>
      <p>Anchored in wellness index and Personalized plans that makes health progress measurable and visible</p>
    </div>
    <div class=" column col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img style="padding-bottom: 6%;" src="../../../assets/group-3.svg">
      <h6 style="padding-bottom: 2%;">GROUP DYNAMICS</h6>
      <p>Leverage group dynamics for higher impact. Establish shared learning and peer group support </p>
    </div>
    <div class=" column col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img style="padding-bottom: 6%;" src="../../../assets/features-dedicated-support-1.svg">
      <h6 style="padding-bottom: 2%;">DEDICATED COACH</h6>
      <p>Reach out to our coach, our team is on call and proactively responds to any queries or concerns</p>
    </div>

  </div>
</div>


<div class="section-4">
  <!--  <div id="part1">
      <h6  style="text-align: center; padding-top: 2%; color: white;">HEAR WHAT RESTAURANTS ARE SAYING ABOUT US</h6>
      <h2 style="text-align: center; padding-top: 4%; font-weight: 400; color: white;">"ChowNow creates a dialogue between our</h2>
      <h2 style="text-align: center; font-weight: 400; color: white;"> restaurent and the guest"</h2>
      <div align="center" style="padding-top: 2%;">
        <button type="button" id="myImg" name="wistia_embed" class="wistia_embed btn btn-transparent btn-circle btn-xl"><i class="fa fa-play" style="color: white"></i>
        </button>
        <div id="myModal" class="modal">  
          <h1 style="color:white; padding-top: 6rem">Testimonials</h1>
          <h4 style="color:white;">XOCO</h4>
          <iframe src="//fast.wistia.net/embed/iframe/b9pkgfinfq" style="height:60%; left:0; position:relative; top:30%; width:60%; padding-top: 2rem;" popup="true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="700" height="366"></iframe>
          <div align="center" style="padding-top: 2rem">
            <button style="color:white; border-color: white; font-size: 0.9em" type="button" class="btn nav-btn btn-danger btn-lg">CONTACT US</button>  
          </div>
        </div>
      </div>
      <h5 style="text-align: center; padding-top: 2%; font-weight: 400; color: whitesmoke;">Arthur Mullen, Manager</h5>
      <div align="center">
      <img width="100" height="30" alt="" src="../../../assets/testimonials-logo-xoco-white.png">
      </div>
    </div> 

      <div align="center" style="padding-top: 5%;">
        <button style="color: white; font-weight: 500;" class="btn btn-link" (click)="scroll('section-3')">XOCO</button>
        <a style="color: white; font-weight: 500;" class="btn btn-link" href="#section-2">CORAL TREE CAFE</a>
        <a style="color: white; font-weight: 500;" class="btn btn-link" href="#section-3">EMPORIUM THAI CUISINE</a>
        <a style="color: white; font-weight: 500;" class="btn btn-link" href="/testimonials">MORE VIDEOS</a>
      </div>-->
</div>



<div class="section-5">
  <div>
    <p>MY WELLBEING</p>
    <p>Wellness is an active process of becoming aware of, and making choices toward a
      healthy and fulfilling life. Wellness is more than being free from illness, it is a
      dynamic process of change and growth.</p>
  </div>
</div>
</div>




<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="https://fast.wistia.com/embed/medias/b9pkgfinfq.jsonp" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />