ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    margin-left: 37%;
}

.nav-demo {
    padding-right: 3rem;
}

.nav-sec {
    background-image: url('../../assets/img1.jpg');
    object-fit: scale-down;
    height: 600px;
}

.navbar-brand {
    margin-right: 0px;
    padding-left: 3rem;
    padding-top: 0;
    padding-bottom: 0;
}

.section-1 {
    display: flex;
    padding-top: 3%;
    padding-left: 0%;
    text-align: center;
    text-align: justify;
}

.section-2 {
    display: flex;
    padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 30%;
    text-align: center;
    text-align: justify;
    align-content: center;
}

// .sec2-col{
//     background-color: lightgray;
// }
.section-3 {
    // display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    // padding-left: 30%;
    text-align: center;
    text-align: justify;
    align-content: center;
    background-color: whitesmoke;
}

.sec3-flex1 {
    display: flex;
    padding-top: 3%;
    // padding-bottom: 8%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    text-align: justify;
    align-content: center;
}

.sec3-flex2 {
    display: flex;
    padding-top: 3%;
    // padding-bottom: 8%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    text-align: justify;
    align-content: center;
}

.section-4 {
    // display: flex;
    // padding-top: 3%;
    // padding-bottom: 4%;
    // padding-left: 30%;
    text-align: center;
    text-align: justify;
    align-content: center;
    background-image: url('../../assets/img1.jpg');
}

.btn-circle.btn-xl {
    border-color: white;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.modal {
    display: none;
    /* Hidden by default */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.section-5 {
    display: flex;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    // padding-bottom: 4%;
    text-align: center;
    text-align: justify;
    align-content: center;
    background-color: white;
}

.section-6 {
    // display: flex;
    padding-top: 3%;
    padding-bottom: 4%;
    // padding-left: 30%;
    text-align: center;
    background-color: whitesmoke;
}

.demo-form {
    padding-top: 3%;
    padding-right: 30%;
    padding-left: 30%;
}

.demo-btn {
    background-color: #FD525A;
    width: 90%;
}

.error-message {
    color: red;
}

.section-7 {
    padding-top: 3%;
    padding-bottom: 4%;
    // padding-left: 30%;
    align-items: center;
    background-color: white;
}

.sec7 {
    display: flex;
    padding-left: 40rem;
}

// .slide {
//     height: 0;
//     overflow: hidden;
//     -webkit-transition: all 1s linear;
//     -ms-transition: all 1s linear;
//     -o-transition: all 1s linear;
//     -moz-transition: all 1s linear;
//     transition: all 1s linear;
// }
// .slide:target {
//     display: block;
//     height: 30rem;
//     -webkit-transition: all 1s linear;
//     -ms-transition: all 1s linear;
//     -o-transition: all 1s linear;
//     -moz-transition: all 1s linear;
//     transition: all 1s linear;
// }

.fixed-top {
    background: black;
    opacity: 0.9;

    @media only screen and (max-width: 1366px) {
        height: 32%;
    }
}